# Problem 4

We need to share our recommendation on what an ideal product catalog should be for "Premium" customer with "Cash" payment and for 30 days validity. We must submit 10 products that needs to be added as "Q4A-submission.csv" to the product list and 10 products that can be dropped as "Q4B-submission.csv" (sample file given) from new product.

### Import libraries

In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Access S3 Bucket with AWS

In [98]:
import boto3
import pandas as pd
from io import BytesIO, StringIO

# Initialize a boto3 client with your AWS credentials
# Access key ID & Secret access key shared in your mail
s3_client = boto3.client(
    's3',
    aws_access_key_id='AKIAZI2LHFBCPY22756I',
    aws_secret_access_key='3ndd8vA95ikn39dd0dlNiIUJ6apF9mLu7RlsIWz5'
)

### Read  CSV file from S3

In [99]:
# Specify your  AWS S3 bucket  name
bucket_name = 'team-err0r404-datathon-3.0'

TBL_CUSTOMER_PROFILE = 'TBL_CUSTOMER_PROFILE.csv'
TBL_PRODUCT_CATALOGUE = 'TBL_PRODUCT_CATALOGUE.csv'
TBL_PACK_PURCHASE = 'TBL_PACK_PURCHASE.csv'
DATA_CONSUMTION = 'TBL_DATA_CONSUMPTION.csv'

# Get the object from the bucket
response1 = s3_client.get_object(Bucket=bucket_name, Key=TBL_CUSTOMER_PROFILE)
response2 = s3_client.get_object(Bucket=bucket_name, Key=TBL_PRODUCT_CATALOGUE)
response3 = s3_client.get_object(Bucket=bucket_name, Key=TBL_PACK_PURCHASE)
response4 = s3_client.get_object(Bucket=bucket_name, Key=DATA_CONSUMTION)

# Read the object (which is in bytes) into a DataFrame
customer_profile =  pd.read_csv(BytesIO(response1['Body'].read()))
product_catalogue =  pd.read_csv(BytesIO(response2['Body'].read()))
pack_purchase =  pd.read_csv(BytesIO(response3['Body'].read()))
data_consumption = pd.read_csv(BytesIO(response4['Body'].read()))

### Utility Function for EDA

In [100]:
def analyze(df):
    print(f"Number of rows: {len(df)}")    
    print(f"Number of columns: {len(df.columns)}")
    
    info_df = pd.DataFrame({
        "NUNIQUE": df.nunique(), # shows the number of unique entries in each column
        "DTYPE": df.dtypes, # shows datatypes of each column's entries
        "NaN": df.isna().sum() # shows if there's any missing value in each column
    })
    
    print()
    print(info_df)

## Customer Profile

In [101]:
customer_profile.head()

,CUSTOMER_ID,SERVICE_TYPE,FIRST_CONNECTION_DATE,CONNECTION_TYPE,ROUTER_CATEGORY,STREAMING_VOL_PERCENTAGE,WEB_BROWSING_VOL_PERCENTAGE,IM_VOICE_CALL_VOL_PERCENTAGE,SNS_VOL_PERCENTAGE,FILE_ACCESS_VOL_PERCENTAGE,GAME_VOL_PERCENTAGE,NAVIGATION_VOL_PERCENTAGE,EMAIL_VOL_PERCENTAGE,OTHERS_VOL_PERCENTAGE
0,CD1F7653F6BE80,Standard,20191231,Fiber Optic,Low End,70.0205,14.6609,3.6914,8.5530,2.1653,0.0297,0.0376,0.0000,0.8416
1,CD1F768EE45143,Standard,20211107,Cable Broadband,High End,72.1494,11.6056,3.2767,1.6749,10.2768,0.0000,0.2096,0.0000,0.8069
2,CD1F769AD050BF,Standard,20230112,Fiber Optic,High End,47.3220,18.2921,3.2387,20.0176,3.9060,0.0180,0.0540,0.0506,7.1010
3,CD1F769C960283,Standard,20220611,Cable Broadband,Low End,41.2983,26.2252,4.2466,22.3891,0.8242,0.0009,0.0061,0.0000,5.0095
4,CD1F77E09E8A7A,Standard,20220920,Fiber Optic,Low End,32.0709,59.0923,3.6369,4.9594,0.0000,0.0000,0.0000,0.0000,0.2405

In [102]:
analyze(customer_profile)

Number of rows: 342643
Number of columns: 14

                              NUNIQUE    DTYPE   NaN
CUSTOMER_ID                    342643   object     0
SERVICE_TYPE                        2   object     0
FIRST_CONNECTION_DATE            7637    int64     0
CONNECTION_TYPE                     3   object     0
ROUTER_CATEGORY                     2   object     0
STREAMING_VOL_PERCENTAGE       263200  float64  1946
WEB_BROWSING_VOL_PERCENTAGE    225945  float64  1946
IM_VOICE_CALL_VOL_PERCENTAGE   166005  float64  1946
SNS_VOL_PERCENTAGE             153181  float64  1946
FILE_ACCESS_VOL_PERCENTAGE     108813  float64  1946
GAME_VOL_PERCENTAGE             20037  float64  1946
NAVIGATION_VOL_PERCENTAGE       11475  float64  1946
EMAIL_VOL_PERCENTAGE             3722  float64  1946
OTHERS_VOL_PERCENTAGE           81795  float64  1946

In [103]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [104]:
# Convert the format of dates to datetime

customer_profile['FIRST_CONNECTION_DATE'] = pd.to_datetime(customer_profile['FIRST_CONNECTION_DATE'], format='%Y%m%d')

In [105]:
customer_profile.head()

,CUSTOMER_ID,SERVICE_TYPE,FIRST_CONNECTION_DATE,CONNECTION_TYPE,ROUTER_CATEGORY,STREAMING_VOL_PERCENTAGE,WEB_BROWSING_VOL_PERCENTAGE,IM_VOICE_CALL_VOL_PERCENTAGE,SNS_VOL_PERCENTAGE,FILE_ACCESS_VOL_PERCENTAGE,GAME_VOL_PERCENTAGE,NAVIGATION_VOL_PERCENTAGE,EMAIL_VOL_PERCENTAGE,OTHERS_VOL_PERCENTAGE
0,CD1F7653F6BE80,Standard,2019-12-31,Fiber Optic,Low End,70.0205,14.6609,3.6914,8.5530,2.1653,0.0297,0.0376,0.0000,0.8416
1,CD1F768EE45143,Standard,2021-11-07,Cable Broadband,High End,72.1494,11.6056,3.2767,1.6749,10.2768,0.0000,0.2096,0.0000,0.8069
2,CD1F769AD050BF,Standard,2023-01-12,Fiber Optic,High End,47.3220,18.2921,3.2387,20.0176,3.9060,0.0180,0.0540,0.0506,7.1010
3,CD1F769C960283,Standard,2022-06-11,Cable Broadband,Low End,41.2983,26.2252,4.2466,22.3891,0.8242,0.0009,0.0061,0.0000,5.0095
4,CD1F77E09E8A7A,Standard,2022-09-20,Fiber Optic,Low End,32.0709,59.0923,3.6369,4.9594,0.0000,0.0000,0.0000,0.0000,0.2405

In [106]:
analyze(customer_profile)

Number of rows: 342643
Number of columns: 14

                              NUNIQUE           DTYPE   NaN
CUSTOMER_ID                    342643          object     0
SERVICE_TYPE                        2          object     0
FIRST_CONNECTION_DATE            7637  datetime64[ns]     0
CONNECTION_TYPE                     3          object     0
ROUTER_CATEGORY                     2          object     0
STREAMING_VOL_PERCENTAGE       263200         float64  1946
WEB_BROWSING_VOL_PERCENTAGE    225945         float64  1946
IM_VOICE_CALL_VOL_PERCENTAGE   166005         float64  1946
SNS_VOL_PERCENTAGE             153181         float64  1946
FILE_ACCESS_VOL_PERCENTAGE     108813         float64  1946
GAME_VOL_PERCENTAGE             20037         float64  1946
NAVIGATION_VOL_PERCENTAGE       11475         float64  1946
EMAIL_VOL_PERCENTAGE             3722         float64  1946
OTHERS_VOL_PERCENTAGE           81795         float64  1946

In [107]:
# Columns with NaN values
columns_with_NaN = [
    'STREAMING_VOL_PERCENTAGE', 'WEB_BROWSING_VOL_PERCENTAGE', 'IM_VOICE_CALL_VOL_PERCENTAGE',
    'SNS_VOL_PERCENTAGE', 'FILE_ACCESS_VOL_PERCENTAGE', 'GAME_VOL_PERCENTAGE',
    'NAVIGATION_VOL_PERCENTAGE', 'EMAIL_VOL_PERCENTAGE', 'OTHERS_VOL_PERCENTAGE'
]

# Impute missing values with the median of each column
for column in columns_with_NaN:
    median_value = customer_profile[column].median()
    customer_profile[column].fillna(median_value, inplace=True)

/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)
/tmp/ipykernel_3441/571099931.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_profile[column].fillna(median_value, inplace=True)

In [108]:
analyze(customer_profile)

Number of rows: 342643
Number of columns: 14

                              NUNIQUE           DTYPE  NaN
CUSTOMER_ID                    342643          object    0
SERVICE_TYPE                        2          object    0
FIRST_CONNECTION_DATE            7637  datetime64[ns]    0
CONNECTION_TYPE                     3          object    0
ROUTER_CATEGORY                     2          object    0
STREAMING_VOL_PERCENTAGE       263200         float64    0
WEB_BROWSING_VOL_PERCENTAGE    225945         float64    0
IM_VOICE_CALL_VOL_PERCENTAGE   166005         float64    0
SNS_VOL_PERCENTAGE             153181         float64    0
FILE_ACCESS_VOL_PERCENTAGE     108813         float64    0
GAME_VOL_PERCENTAGE             20037         float64    0
NAVIGATION_VOL_PERCENTAGE       11475         float64    0
EMAIL_VOL_PERCENTAGE             3722         float64    0
OTHERS_VOL_PERCENTAGE           81795         float64    0

## Product Catalogue

In [109]:
product_catalogue.head()

,PACK_ID,SERVICE_TYPE,PAYMENT_METHOD,PACK_PRICE,VALIDITY,DATA_VOL_GB,PRODUCT_STATUS
0,1,Standard,Digital Wallets,1298,30,320.0,Discontinue
1,2,Standard,Cash,328,30,24.0,Continue
2,3,Premium,Mobile Walet,176,3,24.0,Discontinue
3,4,Premium,Cash,558,15,64.0,Discontinue
4,5,Premium,Cash,300,7,20.0,New

In [110]:
analyze(product_catalogue)

Number of rows: 2049
Number of columns: 7

                NUNIQUE    DTYPE  NaN
PACK_ID            2049    int64    0
SERVICE_TYPE          2   object    0
PAYMENT_METHOD        4   object    0
PACK_PRICE          291    int64    0
VALIDITY              4    int64    0
DATA_VOL_GB         163  float64    0
PRODUCT_STATUS        3   object    0

## Pack Purchase

In [111]:
pack_purchase.head()

   EVENT_DATE     CUSTOMER_ID  PACK_ID  HITS
0    20190703  CD20EDFC8000A7     1756     1
1    20190522  CD1F932E0A89C1     1524     1
2    20190522  CD201715F62164     1524     1
3    20190623  CD1F7B4DD83C5B     1524     1
4    20190523  CD1F7BD12742B8     1524     1

In [112]:
analyze(pack_purchase)

Number of rows: 1208710
Number of columns: 4

             NUNIQUE   DTYPE  NaN
EVENT_DATE       131   int64    0
CUSTOMER_ID   342635  object    0
PACK_ID         1522   int64    0
HITS              10   int64    0

In [113]:
# Convert the format of dates to datetime

pack_purchase['EVENT_DATE'] = pd.to_datetime(pack_purchase['EVENT_DATE'], format='%Y%m%d')

In [114]:
analyze(pack_purchase)

Number of rows: 1208710
Number of columns: 4

             NUNIQUE           DTYPE  NaN
EVENT_DATE       131  datetime64[ns]    0
CUSTOMER_ID   342635          object    0
PACK_ID         1522           int64    0
HITS              10           int64    0

## Data Consumption

In [115]:
data_consumption.head()

   EVENT_DATE     CUSTOMER_ID  TOTAL_VOLUME_GB  VOLUME_GB_IN_HIGH_BANDWIDTH
0    20190914  CD1F7653F6BE80          14.2695                      14.2695
1    20190916  CD1F7653F6BE80          22.2891                      22.2891
2    20190716  CD1F7653F6BE80          26.3086                      26.3086
3    20190906  CD1F7653F6BE80           6.8477                       6.7813
4    20190921  CD1F7653F6BE80          15.1406                      15.1406

In [116]:
analyze(data_consumption)

Number of rows: 23375373
Number of columns: 4

                             NUNIQUE    DTYPE  NaN
EVENT_DATE                       183    int64    0
CUSTOMER_ID                   333503   object    0
TOTAL_VOLUME_GB                23484  float64    0
VOLUME_GB_IN_HIGH_BANDWIDTH    23482  float64    0

In [117]:
# Convert the format of dates to datetime

data_consumption['EVENT_DATE'] = pd.to_datetime(data_consumption['EVENT_DATE'], format='%Y%m%d')

In [118]:
analyze(data_consumption)

Number of rows: 23375373
Number of columns: 4

                             NUNIQUE           DTYPE  NaN
EVENT_DATE                       183  datetime64[ns]    0
CUSTOMER_ID                   333503          object    0
TOTAL_VOLUME_GB                23484         float64    0
VOLUME_GB_IN_HIGH_BANDWIDTH    23482         float64    0

## Filtering Data

In [119]:
# Filter premium customers
premium_customers = customer_profile[customer_profile['SERVICE_TYPE'] == 'Premium']

# Filter product catalogue for cash payment and 30 days validity
filtered_products = product_catalogue[(product_catalogue['PAYMENT_METHOD'] == 'Cash') & 
                                      (product_catalogue['VALIDITY'] == 30)]

## Merge Datasets

In [129]:
# Merge pack purchase with premium customer profile
merged_data = pack_purchase.merge(premium_customers, on='CUSTOMER_ID')

# Merge the above result with filtered products
merged_data = merged_data.merge(filtered_products, on='PACK_ID')

In [130]:
analyze(merged_data)

Number of rows: 154139
Number of columns: 23

                              NUNIQUE           DTYPE  NaN
EVENT_DATE                        131  datetime64[ns]    0
CUSTOMER_ID                     62402          object    0
PACK_ID                           246           int64    0
HITS                                6           int64    0
SERVICE_TYPE_x                      1          object    0
FIRST_CONNECTION_DATE            6063  datetime64[ns]    0
CONNECTION_TYPE                     3          object    0
ROUTER_CATEGORY                     2          object    0
STREAMING_VOL_PERCENTAGE        54594         float64    0
WEB_BROWSING_VOL_PERCENTAGE     53773         float64    0
IM_VOICE_CALL_VOL_PERCENTAGE    49922         float64    0
SNS_VOL_PERCENTAGE              44533         float64    0
FILE_ACCESS_VOL_PERCENTAGE      42391         float64    0
GAME_VOL_PERCENTAGE              6946         float64    0
NAVIGATION_VOL_PERCENTAGE        4640         float64    0
EMAIL_VOL_PERCENTAGE             1273         float64    0
OTHERS_VOL_PERCENTAGE           33585         float64    0
SERVICE_TYPE_y                      1          object    0
PAYMENT_METHOD                      1          object    0
PACK_PRICE                        152           int64    0
VALIDITY                            1           int64    0
DATA_VOL_GB                        49         float64    0
PRODUCT_STATUS                      2          object    0

## Feature Engineering

In [131]:
# Calculate average data consumption per product
avg_consumption = data_consumption.groupby('CUSTOMER_ID').agg({'TOTAL_VOLUME_GB': 'mean'}).reset_index()
avg_consumption.columns = ['CUSTOMER_ID', 'AVG_CONSUMPTION_GB']

# Merge average consumption with merged data
merged_data = merged_data.merge(avg_consumption, on='CUSTOMER_ID', how='left')

# Calculate frequency of purchases
purchase_frequency = pack_purchase.groupby('PACK_ID').agg({'HITS': 'sum'}).reset_index()
purchase_frequency.columns = ['PACK_ID', 'PURCHASE_FREQUENCY']

# Merge purchase frequency with merged data
merged_data = merged_data.merge(purchase_frequency, on='PACK_ID', how='left')

In [133]:
from sklearn.cluster import KMeans

# Select features for clustering
features = merged_data[['AVG_CONSUMPTION_GB', 'PURCHASE_FREQUENCY']]

# Fill any missing values with 0
features = features.fillna(0)

# Perform clustering
kmeans = KMeans(n_clusters=5, random_state=0).fit(features)
merged_data['Cluster'] = kmeans.labels_

In [135]:
from mlxtend.frequent_patterns import apriori, association_rules

# Create a basket DataFrame for association rules
basket = pd.crosstab(merged_data['CUSTOMER_ID'], merged_data['PACK_ID'])

# Convert to binary (presence/absence)
basket = basket.applymap(lambda x: 1 if x > 0 else 0)

/tmp/ipykernel_3441/2223089589.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket = basket.applymap(lambda x: 1 if x > 0 else 0)

In [136]:
# Apply apriori algorithm
frequent_itemsets = apriori(basket, min_support=0.01, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

/home/ubuntu/miniconda3/envs/dev-env/lib/python3.10/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [137]:
# Identify top 10 products to add (e.g., high lift, high support rules)
top_add_products = rules.nlargest(10, 'lift')['consequents'].apply(lambda x: list(x)[0]).unique()

# Get PACK_PRICE and DATA_VOL_GB for the top add products
add_products = filtered_products[filtered_products['PACK_ID'].isin(top_add_products)][['PACK_PRICE', 'DATA_VOL_GB']]

# Identify top 10 products to drop (e.g., low purchase frequency or avg consumption)
low_performing_products = merged_data.groupby('PACK_ID').agg({
    'PURCHASE_FREQUENCY': 'sum',
    'AVG_CONSUMPTION_GB': 'mean'
}).sort_values(by=['PURCHASE_FREQUENCY', 'AVG_CONSUMPTION_GB']).head(10).index

drop_products = pd.DataFrame(low_performing_products, columns=['PACK_ID'])

In [138]:
### write CSV file to S3
write_file_name = 'Q4A-submission.csv'

# Convert the dataframe to CSV
csv_buffer = StringIO()
add_products.to_csv(csv_buffer, index = False)

# Write the CSV data to S3
s3_client.put_object(Bucket=bucket_name, Key=write_file_name, Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'TYW8T5WDXBCHX001',
  'HostId': '7wJbXyl4WHpVuuGLWQdfNuM2g7vp74dUoCbYhHmmN3FjG8b1J0/P+BC21W23L1zbfY8nSOAyNjY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '7wJbXyl4WHpVuuGLWQdfNuM2g7vp74dUoCbYhHmmN3FjG8b1J0/P+BC21W23L1zbfY8nSOAyNjY=',
   'x-amz-request-id': 'TYW8T5WDXBCHX001',
   'date': 'Sat, 25 May 2024 04:50:26 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"4dce675360bba9aeca4104130262124f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"4dce675360bba9aeca4104130262124f"',
 'ServerSideEncryption': 'AES256'}

In [139]:
### write CSV file to S3
write_file_name = 'Q4B-submission.csv'

# Convert the dataframe to CSV
csv_buffer = StringIO()
drop_products.to_csv(csv_buffer, index = False)

# Write the CSV data to S3
s3_client.put_object(Bucket=bucket_name, Key=write_file_name, Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'A7HCGJ3HPNXS6V84',
  'HostId': 'xObGYgJLlPmMDXdYg3ON/GemJfyUjnhVAX0DI/yR9HcZNkPlw3W8gnyV79nWHEbwNCaIT25MsdE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'xObGYgJLlPmMDXdYg3ON/GemJfyUjnhVAX0DI/yR9HcZNkPlw3W8gnyV79nWHEbwNCaIT25MsdE=',
   'x-amz-request-id': 'A7HCGJ3HPNXS6V84',
   'date': 'Sat, 25 May 2024 04:50:28 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5e71e43107c8851ef2c23cd6606bcf46"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"5e71e43107c8851ef2c23cd6606bcf46"',
 'ServerSideEncryption': 'AES256'}